<p id="notice"><%= notice %></p>

<h1>Travel Agents</h1>

<% @agents.each do |agent| %>
  <li><%= link_to "#{agent.full_name}", agent %>
  </li>
<% end %>

<br></br>

<%= link_to "Add New Agent", new_agent_path %>
