<p id="notice"><%= notice %></p>

<h1>Travel Agents</h1>

<% @agents.each do |agent| %>
  <ul style="list-style: none;">
    <li><%= link_to "#{agent.id}. #{agent.full_name}", agent %></li>
  </ul>
<% end %>

<br></br>

<%= link_to "Add New Agent", new_agent_path %>
