<h1 class="agentName"><%= @agent.name %></h1>
<br>

<%= link_to "Load Destinations", agent_destinations_path(@agent), class: "load_destinations" %>


<div class="destinations">
  <ol>
  </ol>
</div>

<br>

<div class="form">
</div>

<button id="button" data-url="/agents/destinations/new">Add new destination</button>

<br></br>

<a href="#" class="next" data-id="<%=@agent.id%>">Next Agent</a>

<br></br>

<%= link_to 'Back', agents_path %>
