<h1>Destinations</h1>

<% @destinations.each do |destination| %>
  <li>
    <%= link_to destination.location, destination_path(destination) %>
  </li>
<% end %>

<br></br>

<!-- <% if current_user %>
  <%= link_to "New Destination", new_destination_path %>
<% end %> -->
